.Header {
  font-size: x-large;
  color: #031a1a;
  text-align: center;
  background-color: #ffe316;
  min-height: 452px;
  min-width: 1915px;
  width: 1px;
  height: 1px;
}
.container {
  background-image: url(/src/minon.jpg);
  background-repeat: no-repeat;
  min-height: 1000px;
  min-width: 2000px;
  font-size: xx-large;
  text-align: center;
}
.sub {
  font-size: x-large;
  width: 10%;
}
.new {
  font-size: x-large;
  width: 10%;
}
.inpt {
  font-size: x-large;
  width: 20%;
}
